.zh-login {
  position: relative;

  .zh-login-wrap {
    background: url('/frame/assets/login-bg.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .zh-login-wrap_main {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .zh-login-wrap_main_bg {
        img {
          max-width: 500px;
        }
      }

      // .zh-login-wrap_main_form {}
    }
  }

  .zh-login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
  }
}
