.r-header-bar {
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #00c6fb, #1d66db);

  .r-header-bar_left {
    display: flex;
    flex: 1;
    height: 100%;

    .r-header-bar_logo {
      display: flex;
      align-items: center;

      .logo {
        height: 24px;
      }

      .name {
        color: @colors[white];
        font-size: @size[default];
      }
    }

    .r-header-bar_nav {
      color: @colors[white];

      .r-header-bar_nav_item {

        &.active,
        &:hover {
          color: @colors[primary];

        }

        &+.r-header-bar_nav_item {
          margin-left: 8px;

        }
      }
    }
  }

  .r-header-bar_right {
    color: @colors[white];
    height: 100%;

    .r-tool {
      display: flex;

      .r-tool-cell {
        .r-tool-cell_txt {
          cursor: pointer;

          &:hover {
            color: @colors[primary];
          }
        }
      }
    }
  }
}