.r-header-bar {
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);

  .r-header-bar_logo {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    .logo {
      height: 24px;
    }
  }

  .r-header-bar_nav {
    color: rgba(255, 255, 255, 0.6);

    .r-header-bar_nav_item {
      &.active,
      &:hover {
        color: @colors[white];
        position: relative;

        &::after {
          position: absolute;
          content: '';
          width: 20px;
          height: 2px;
          bottom: -10px;
          left: 0;
          right: 0;
          margin: auto;
          background-color: @colors[white];
        }
      }

      & + .r-header-bar_nav_item {
        margin-left: 16px;
      }
    }
  }
}
